.cont {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  &__icon {
    font-size: 0px;
    transition: all 0.3s ease-in-out;
  }
}

.correct {
  color: green;
}

.incorrect {
  color: red;
}

.small {
  font-size: 0px;
}

.big {
  font-size: 100px;
  transform: rotate(360deg);
}
